<p>
  <mat-toolbar color="primary">
    <span>Mariana Issa</span>
    <span class="example-spacer">2</span>
    <!--<button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>-->
  </mat-toolbar>
</p>

<app-cartasproductos></app-cartasproductos>