.example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    display:flex;
    position: fixed;
    justify-content: space-between;
    z-index: 99999;
    margin-bottom: 50px;
}

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-containers {
    
    top: 0;
    bottom: 0;
    
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

  .contenidotemporal{
    margin-top: 156px;
  }

  .contenedorcarrito{
   
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
    height: 60%;

    -webkit-box-shadow: -11px 14px 22px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 14px 22px -5px rgba(0,0,0,0.75);
box-shadow: -11px 14px 22px -5px rgba(0,0,0,0.75);
    
  }
  mat-sidenav {
    width: 75%;
    position: fixed;
    height: 100%;
  }

  .seguircomprando{
    width: 90%;
    margin-top: 15px;
    margin-left: 10px;
  
  }

  .botonws{

    padding: 12px 30px;
    background: #25d366;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
  }
.total{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  font-weight: bold;
  background-color: white;
}

#buscador{
  position:absolute;
  margin-right: 0;
  right: 0;
  height: 95%;
  
}