<div class="scroll">
  <mat-list role="list" class="main-elementos" >
    <mat-list-item role="listitem" class="elementos" >
        <img class="elementos-imagen" src="./assets/icons/contijeras.png" alt="">
    </mat-list-item>
    <mat-list-item role="listitem" class="elementos">
      <img class="elementos-imagen" src="./assets/icons/cepillo.png" alt="">
    </mat-list-item>
    <mat-list-item role="listitem" class="elementos">
      <img class="elementos-imagen" src="./assets/icons/secador.png" alt="">
    </mat-list-item>
    <mat-list-item role="listitem" class="elementos">
      <img class="elementos-imagen" src="./assets/icons/plancha.png" alt="">
    </mat-list-item>
    <mat-list-item role="listitem" class="elementos">
      <img class="elementos-imagen" src="./assets/icons/maquinilla.png" alt="">
    </mat-list-item>
    <mat-list-item role="listitem" class="elementos">
      <img class="elementos-imagen" src="./assets/icons/maquinilla2.png" alt="">
    </mat-list-item>
    <mat-list-item role="listitem" class="elementos">
      <img class="elementos-imagen" src="./assets/icons/huellas.png" alt="">
    </mat-list-item>
    <mat-list-item role="listitem" class="elementos"><mat-icon aria-hidden="false" aria-label="Example cached icon" fontIcon="cached"></mat-icon>
    </mat-list-item>
  </mat-list>
</div>

  
  